/* HEADER */

header div * {
    line-height: 100px;    
}

header h1 {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bolder;
}

header a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0 10px;
}

header a:hover {
    color: gray;
}

header i {
    color: gray;
    font-size: 1.5rem;
}

/* MAIN */

main section {
    padding: 100px 0;
}

footer section {
    padding: 50px 0;
}