/* HEADER */

header div * {
    line-height: 86px;    
}

header h1 {
    font-size: 1.2rem;
}

header a {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: bold;
    padding: 0 10px;
}

header a:hover {
    color: gray;
}

header i {
    color: gray;
    font-size: 1.5rem;
}

/* MAIN */

main section {
    padding: 50px 0;
}

.jumbotron>* {
    margin-bottom: 20px;
}

.jumbotron img {
    max-width: 230px;
}

.separator {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.separator .star {
   width: 80px;
   font-size: 1.5rem;
}

.separator .line {
    border-bottom: 2px solid;
    width: 120px;
    height: 0;
}

.portfolio .cover {
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}

.portfolio img {
    width: 100%;
}

.portfolio .cover:hover img {
    filter: grayscale(100%) brightness(1.7);
}

.portfolio .cover .overlay {
    opacity: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(26, 188, 156, 0.7) ;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 5rem;
}

.portfolio .cover:hover .overlay {
    cursor: pointer;
    opacity: 1;
}

.contact form > div {
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.contact form > div *::placeholder {
    color: black;
    font-size: 1rem;
}

.contact form > div textarea {
    width: 100%;
    min-height: 100px;
    line-height: 1rem;
}

.contact button {
    min-width: 64px;
}

.contact button:hover {
    color: white;
    background-color: #1f836b;
    font-weight: bold;
}

/* FOOTER */

footer section {
    padding: 50px 0;
}

footer h4 {
    font-weight: bold;
    text-transform: uppercase;
}

footer a {
    text-decoration: none;
}

footer .social a {
    color: white;
    height: 42px;
    width: 42px;
    border: 1px solid white;
    border-radius: 50%;
    display: inline-block;
    line-height: 42px;
    font-size: 1.4rem;
    margin-right: 5px;
    margin-bottom: 10px;
}